* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-purple-background: #573589;
    --dark-grey: #121212;
    --grey: #1d1d1d;
    --violet: #F37CFA;
    --white: #fff;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}